# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL settings
POSTGRES_DB=social_db
POSTGRES_USER=social_user
POSTGRES_PASSWORD=social_password
